apiVersion: rbac.authorization.k8s.io/v1
kind: ClusterRole
metadata:
  name: karavan
  annotations:
    argocd.argoproj.io/sync-wave: "2"
rules:
- apiGroups:
  - camel.apache.org
  resources:
  - integrations
  - integrationplatforms
  - integrationkits
  - kamelets
  - pipes
  verbs:
  - get
  - list
  - watch
  - create
  - update
  - patch
  - delete
- apiGroups:
  - ""
  resources:
  - configmaps
  - secrets
  - services
  - pods
  verbs:
  - get
  - list
  - watch
  - create
  - update
  - patch
  - delete
- apiGroups:
  - ""
  resources:
  - namespaces
  verbs:
  - get
  - list
  - watch
- apiGroups:
  - apps
  resources:
  - deployments
  verbs:
  - get
  - list
  - watch
- apiGroups:
  - ""
  resources:
  - pods/log
  verbs:
  - get
  - list
