apiVersion: v1
kind: PersistentVolumeClaim
metadata:
  name: karavan-data
  namespace: karavan
  annotations:
    argocd.argoproj.io/sync-wave: "2"
spec:
  accessModes:
    - ReadWriteOnce
  resources:
    requests:
      storage: 5Gi
