apiVersion: networking.k8s.io/v1
kind: Ingress
metadata:
  name: gitea
  namespace: default
  annotations:
    argocd.argoproj.io/sync-wave: "5"
spec:
  rules:
  - host: gitea.homelab.internal
    http:
      paths:
      - path: /
        pathType: Prefix
        backend:
          service:
            name: gitea-http
            port:
              number: 3000